
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');


:root {
  --gutter-full: 32px;
  --gutter-xl: 32px;
  --gutter-lg: 28px;
  --gutter-md: 28px;
  --gutter-sm: 24px;

  --width-sm: '410px';
  --width-md: '768px';
  --width-lg: '960px';
  --width-xl: 1366px;
  --width-2xl: '1600px';

  --md-source: '#3595d5',
}

body {
  font-family: "Figtree", sans-serif;
}

/* containers */

.fullContainer {
  padding-right: var(--gutter-full);
  padding-left: var(--gutter-full);
}

@media (min-width: 410px) {
  .fullContainer {
    padding-right: var(--gutter-sm);
    padding-left: var(--gutter-sm);
  }
}

.xlContainer {
  width: var(--width-xl);
  padding-right: var(--gutter-full);
  padding-left: var(--gutter-full);
}

@media (min-width: 1536px) {
  .xlcontainer {
    padding-right: var(--gutter-full);
    padding-left: var(--gutter-full);
  }
}

textarea::placeholder {
  color: var(--neutral-100);
}
